<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <% if (user) { %>
     <h2>Welcome back <%= user.username %><% if (user.membership_status) { %>
      (member)
    <%}%></h2>
    <a href="/message">Create message</a>
     <a href="/log-out">Log out</a>
     <% if (!user.membership_status) { %>
      <a href="/membership">Become a member</a>
    <%}%>
     <div>
    </div>
    <% } else { %>
      <div>
        <form action="/log-in" method="POST" class="form-container">

          <label for="username">Username</label>
          <input name="username"  type="text" />
      
          <label for="password">Password</label>
          <input name="password" type="password"  />
      
          <button>Log in</button>
        </form>
        <p>Not a member? <a href="/sign-up">Sign up</a>   </p>
      </div>
    
    <%}%>
    <div class="messages">
      <ul>
        <% message_list.forEach(function(message){ %>
            <li>
              <h3><%= message.title %></h3>
              <p><%= message.text %></p>
              <% if (user) { %>
                <% if (user.membership_status) { %>
                  <div class="author">
                    <p>Author: <%=message.user.username %></p>
                    <p id="timestamp"><%= message.createdAt%></p>
                  </div>
                <%}else{ %>
                  <div class="author">
                    <p>Author hidden, become a member</p>
                  </div>
                <%}%>
                <% if (user.isAdmin || message.user._id.toString() == user._id.toString()) {%>
                  <div id="delete">
                    <a href="<%=message.url+'/delete'%>">Delete</a>
                  </div>
                <%}%>
              <%}else{ %>
                <div class="author">
                  <p>Author hidden, become a member</p>
                </div>
              <%}%>
            </li>
        <% }) %>
    </ul>
    </div>
    
  </body>
</html>
